################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################



/.idea/VideoPlayer.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.vs/videoPlayer/v16/TestStore/0/000.testlog
