################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/output.MP4
/output.AVI
/GUI/__pycache__/image_procesing.cpython-37.pyc
/.vs/tasks.vs.json
/.vs/videoPlayer/config/applicationhost.config
/Resources/images/faces/Konstanza/*.png
/Resources/images/faces/Oren/*.png
/Resources/Record/*.AVI
/.idea/vcs.xml
/.idea/VideoPlayer.iml
/.idea/misc.xml
/.idea/modules.xml
